<footer role="contentinfo">
    <div class="global-footer">
      <div class="global-footer__inner">
        <div>
          <h2 class="util-visuallyhidden">Additional links</h2>
          <ul class="link-list">
            <li>
              <a href="/{{PROTOTYPE_URL}}/00-privacy-notice">Privacy notice</a>
            </li>
            <li>
              <a href="/{{PROTOTYPE_URL}}/00-terms-of-use">Terms of use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
