{% set title = 'Register your preference for sharing patient health data' %}
{% set PROTOTYPE_URL = 'calder' %}
{% block scripts %}
<script src="/javascripts/details.polyfill-1.0.0.min.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      <a href="/{{PROTOTYPE_URL}}/index">Register your preference for sharing health data</a>
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">Register your preference</h1>
          <div class="grid-row">
            <div class="column--three-quarters">
              <p>
                For security reasons we must verify who you are before you can set your preference.
              </p>
              <p>
                We will do this by searching for your contact details in our database in order to send you a one-time verification code.
              </p>

              <h2 id="how-the-service-works">How the service works</h2>
            </div>
          </div>
      </div>
  </div>

  <div class="step-container blue">
    <div class="page-section">
      <div class="grid-row">
        <div class="column--four-fifths">
          <div class="reading-width">
            <div id="step-enter-your-details" class="step">
              <div class="grid-row">
                <div class="column--step-counter offset">
                  <div>
                    1
                  </div>
                </div>
                <div class="column--step-body-with-icon">
                  <h3>Check your details</h3>
                  <p>
                    Tell us your name, date of birth, postcode and NHS number. We can then find your contact information in our patient database.
                  </p>
                  <p>
                    The details you provide will not be saved.
                  </p>

                </div>
                <div class="column--step-icon">
                  <img class="marketing-icon" alt="check your details icon" src="/images/verify-icon.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step-container">
    <div class="page-section">
      <div class="grid-row">
        <div class="column--four-fifths">
          <div class="reading-width">
            <div id="step-choose-your-contact-method" class="step">
              <div class="grid-row">
                <div class="column--step-counter offset">
                  <div>
                    2
                  </div>
                </div>
                <div class="column--step-body-with-icon">
                  <h3>Confirm your identity</h3>
                  <p>
                    Using the details we hold in our database, we will send you a one-time verification code to your selected contact method.
                  </p>
                  <p>
                    Enter your verification code online to prove your identity.
                  </p>
                </div>
                <div class="column--step-icon">
                  <img class="marketing-icon" alt="check your details icon" src="/images/verification-method-icon.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step-container blue">
    <div class="page-section">
      <div class="grid-row">
        <div class="column--four-fifths">
          <div class="reading-width">
            <div id="step-enter-your-security-code" class="step">
              <div class="grid-row">
                <div class="column--step-counter offset">
                  <div>
                    3
                  </div>
                </div>
                <div class="column--step-body-with-icon">
                  <h3>Set your preference</h3>
                  <p>
                    You will then be able to set an opt-out preference. The decision you make will not affect your individual care.
                  </p>
                  <p>
                    You can also change your mind at any time.
                  </p>

                </div>
                <div class="column--step-icon">
                  <img class="marketing-icon" alt="check your details icon" src="/images/choice-icon.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              <p>
                By continuing you agree to let us search for your details in our database to send you a one-time security passcode.
              </p>
              <p>
                <a href="/{{PROTOTYPE_URL}}/end" class="button" role="button">Agree and continue</a>
              </p>
            </div>
          </div>
        </div>
      </div>

  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--three-quarters">
          {{ patterns.page_nav( "Before you start", "/" + PROTOTYPE_URL + "/06-register-your-preference#before-you-start", "", "" ) }}
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
