{% set title = 'Register your preference for sharing patient health data' %}
{% set PROTOTYPE_URL = 'aire' %}
{% block scripts %}
<script src="/javascripts/details.polyfill-1.0.0.min.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      <a href="/{{PROTOTYPE_URL}}/journey/index">Register your preference for sharing health data</a>
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">Register your preference</h1>
          <div class="grid-row">
            <div class="column--three-quarters">
              <p>
                Use this service to manage your preferences for sharing your patient health information
              </p>

              <h2 class="h3">Before you start</h2>
              <p>To continue you will need:</p>
              <ul>
                <li>access to your email or mobile phone</li>
                <li>your NHS number</li>
              </ul>
              <p>
                You can also check your eligibility by starting the service.
              </p>
              <p><a role="button" class="button" title="Start Opt-out Process" href="/{{PROTOTYPE_URL}}/journey/01-start">Start</a></p>
            </div>
          </div>
      </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <div class="grid-row">
        <div class="column--three-quarters">
          {{ patterns.page_nav( "Overview", "/" + PROTOTYPE_URL + "/01-overview", "", "" ) }}
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
